:root {
  --primary-color: #0a0843;
  --secondary-color: #f27b0c;
  --tertiary-color: #ffffff;
}

/* HEADER CONTAINER */

.header {
  height: 8.125rem;
  max-width: 100%;
  background-color: var(--primary-color);
}

.header-first {
  height: 30%;
  width: 80%;
  margin: 0 auto;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* .header-menuIcon {
  background-color: var(--primary-color);
  width: 12.5rem;
  z-index: 999;
  height: 100vh;
  left: 0;
} */

.header-menuIcon .menu-toggle {
  background-color: inherit;
}

.header-menuIcon .menu-toggle:focus {
  background-color: var(--secondary-color);
}

.header-items .header-menuIcon .fa-bars {
  color: #fff;
  font-size: clamp(1rem, 1.25rem);
}

.header-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 1.25rem 0 1.25rem;
}

ul.header-Deskmenu li,
.header-Deskmenu {
  color: #fff;
  list-style: none;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 1.25rem 0 1.25rem;
}

/* HIDE HEADER DESKMENU ON MOBILE */
@media screen and (max-width: 900px) {
  ul.header-Deskmenu li,
  .header-Deskmenu {
    display: none;
  }
}

.header-shop-Btn {
  right: 0;
  background-color: var(--secondary-color);
  padding: 0.375rem;
  color: #fff;
}

.header-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35%;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 10px;
  padding-left: 12%;
  padding-right: 12%;
  margin: 0 auto;
  background-color: var(--tertiary-color);
}

.header-second .header-logo img {
  width: auto;
  height: 2.5em;
  z-index: 100;
}

/* STYLING FOR CONTACT AND SIGN UP LINKS */
.header-second .header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  right: 0;
}

.header-nav .fa-envelope,
.fa-phone,
.fa-right-to-bracket {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 1rem;
}
.header-nav a {
  display: flex;
  flex-direction: column;
  margin: 0 0.625rem;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}

/* HIDE EMAIL AND CONTACT ON MOBILE */
@media screen and (max-width: 900px) {
  .email-link,
  .contact-link {
    display: none;
  }
}

.header-third {
  height: 35%;
  width: 60%;
  margin: 0 auto;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-third .search-bar {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar form {
  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
  padding-top: 0.2rem;
}
.search-bar input {
  width: 70%;
  height: 90%;
  border: none;
  padding: 0 1.25rem;
}

.search-bar select {
  height: 90%;
}

.search-bar button {
  width: 15%;
  height: 90%;
  background: var(--secondary-color);
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
}

/* Responsive STYLING */
