:root {
  --primary-color: #0a0843;
  --secondary-color: #f27b0c;
  --tertiary-color: #ffffff;
  --grey-bg: #d9d9d9;
}

.home {
  max-width: 100%;
  background-color: var(--grey-bg);
}

.hero-section {
  min-height: 31.25rem;
  width: 100%;
}

.captions {
  width: 400px;
  min-height: 300px;
  margin: 100px;
  left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: left;
}

.captions h1 {
  font-size: 45px;
  font-weight: 800;
  color: #fff;
}

/* SECOND CAROUSEL STYLES */
.captions-2 {
  width: 600px;
  min-height: 300px;
  margin: 0 auto;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.captions-2 h2 {
  font-size: 45px;
  font-weight: 900;
  color: #fff;
}

/* CAOUSEL BUTTONS */
.heroBtns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  transform: translateX(-20px);
}

.heroBtns .getStarted_Btn,
.regBtn {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
}

.below-hero {
  min-height: 18.75rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.below-hero .below-hero_content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.below-hero_content h2 {
  font-size: clamp(1.25rem, 2.5rem);
  color: #000;
  font-weight: 800;
  padding: 0 20%;
}

.popular-vendors,
.popular-cat {
  min-height: 18.75rem;
  max-width: 80%;
  margin: 0 auto;
  padding: 1.25rem 1.25rem;
  background-color: var(--grey-bg);
}

/* STYLES FOR HOME SECTIONS HEADINGS */
.popular-vendors .vendors-heading_readMore,
.popular-cat .cat-heading_readMore,
.trending-products .trending-heading_readMore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popular-vendors .vendors-heading_readMore a,
.popular-cat .cat-heading_readMore a,
.trending-products .trending-heading_readMore a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  border-bottom: 2px solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: var(--secondary-color);
}

.vendors-heading_readMore h3,
.cat-heading_readMore h3,
.trending-heading_readMore h3 {
  font-weight: 500;
  color: #000;
  text-transform: capitalize;
}

.vendor-container,
.cat-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.3rem;
  padding: 1.25rem 0;
}

.vendor-container > .vendor-box,
.cat-container > .cat-box {
  flex: 0 1 15%;
}

.vendor-box,
.cat-box {
  /* box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3); */
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.vendor-box img,
.cat-box img {
  height: 230px !important;
  width: 200px;
}

/* SECTION FOR THE SHOP INFO (Moneyback, Support, etc) */
.shop-info {
  background-color: #fff;
  min-height: 18.75rem;
  width: 100%;
  padding: 1.25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.info-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #111;
  padding-right: 1rem;
}

.info-box:last-child {
  border-right: none;
}

.info-box > .fa-truck,
.fa-percent,
.fa-sack-dollar,
.fa-headset {
  padding: 1.25rem;
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--secondary-color);
}

.info-box p {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}

/* TRENDING PRODUCTS SECTION */
.trending-products {
  min-height: 37.5rem;
  max-width: 80%;
  margin: 0 auto;
  padding: 1.25rem 0;
  background-color: var(--grey-bg);
}

.trending-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.3rem;
  padding: 1.25rem 0;
}

.product-box {
  /* box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3); */
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin: 0.5rem 0;
}

.product-box {
  flex: 0 1 20%;
}

.product-box img {
  height: 200px !important;
  width: 200px;
  border: 1px solid #111;
  border-radius: 6px;
}

.product-box p {
  margin: 0;
  padding: 0;
}

.product-box .buyBtn {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: all ease-in 0.3s;
}

.product-box .buyBtn:hover {
  background-color: var(--primary-color);
  color: #fff;
}
